$baseColor: #167CF3;
$fontColor: #8c8484;
$user-task: '../assets/userTask.png';
$service-task: '../assets/serviceTask.png';
$start-event: '../assets/start.png';
$end-event: '../assets/end.png';
$parallel-gateway: '../assets/parallelGateway.png';
$exclusive-gateway: '../assets/exclusiveGateway.png';
$inclusive-gateway: '../assets/inclusiveGateway.png';
$delete: '../assets/delete.png';
$hand-tool: '../assets/hand.png';
$lasso-tool: '../assets/lasso.png';
$space-tool: '../assets/space.png';
$connection-tool: '../assets/connection.png';
$group: '../assets/group.png';
$subprocess: '../assets/subprocess.png';

// 全局样式
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(35, 46, 64, 0.05);
        background: rgba(35, 46, 64, 0.05);
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    :hover::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(35, 46, 64, 0.05);
        background: rgba(35, 46, 64, 0.1);
    }
    :hover::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
}

@mixin font {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 40px;
    white-space: nowrap;
    color: $fontColor;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.icon-custom {
    border-radius: 50%;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    @each $name,$url,$content in
                    (user-task, $user-task, '\7528\6237\4efb\52a1'),
                    (service-task, $service-task, '\670d\52a1\4efb\52a1'),
                    (start-event, $start-event, '\5f00\59cb\4e8b\4ef6'),
                    (end-event, $end-event, '\7ed3\675f\4e8b\4ef6'),
                    (parallel-gateway, $parallel-gateway, '\5e76\884c\7f51\5173'),
                    (exclusive-gateway, $exclusive-gateway, '\6392\4ed6\7f51\5173'),
                    (inclusive-gateway, $inclusive-gateway, '\5305\5bb9\7f51\5173'),
                    (hand-tool, $hand-tool, '\624b\52a8\5de5\5177'),
                    (lasso-tool, $lasso-tool, '\5957\7d22\5de5\5177'),
                    (space-tool, $space-tool, '\7a7a\95f4\5de5\5177'),
                    (connection-tool, $connection-tool, '\8fde\63a5\5de5\5177'),
                    (group, $group, '\521b\5efa\7ec4'),
                    (subprocess, $subprocess, '\521b\5efa\5b50\6d41\7a0b')
    {
        &.#{$name} {
            background-image: url($url);
            &::after {
                content: $content;
                @include font
            }
        }
    }
    &.delete {
        background-image: url($delete);
    }
}

.djs-context-pad {
    .entry {
        box-sizing: border-box;
        background-size: 100%;
        transition: all 0.3s;
    }
    .entry:hover {
        border: 1px solid $baseColor;
    }
}

.icon-pad .user-task {
    background-image: url($user-task);
}

.icon-pad {
    .user-task {
        background-image: url($user-task);
    }
    @each $name, $url in
                    (user-task, $user-task),
                    (end-event, $end-event),
                    (parallel-gateway, $parallel-gateway),
                    (exclusive-gateway, $exclusive-gateway),
                    (inclusive-gateway, $inclusive-gateway),
                    (connection-tool, $connection-tool),
                    (delete, $delete) {
        .#{$name}.entry {
            background-image: url($url);
        }
        .#{$name}.entry:hover {
            background: url($url) center no-repeat !important;
            background-size: cover !important;
        }
    }
}


.djs-palette {
    width: 150px!important;
    bottom: 20px;
    overflow: auto;
    box-shadow: 4px 4px 10px #CCCCCC;
    .entry {
        float: none!important;
        position: relative;
        cursor: pointer!important;
        width: 35px!important;
        height: 35px!important;
    }
    .entry:before {
        color: $baseColor!important;
    }
}

.bjs-powered-by {
    display: none;
}